html {
    scroll-behavior: smooth;
}
.btn-custom {
    background-color: #d10024; /* White background by default */
    color: white; /* Primary color text */
    border: 0px solid #007bff; /* Border color matching primary color */
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease; /* Smooth transition */
}

.btn-custom:hover {
    background-color: #a8001d; /* Darker red background on hover */
    color: white; /* White text color on hover */
    border-color: #a8001d; /* Darker red border on hover */
}
#review_field {
    resize: vertical;
    max-height: 300px;
}

.collateral-box {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.stars {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.stars .fa-star {
    color: #ddd;
    cursor: pointer;
    font-size: 20px;
}

.stars .fa-star.selected {
    color: #f5c518;
}
.form-add h2 {
    margin-bottom: 15px;
}

.form-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-list li {
    margin-bottom: 15px;
}

.form-list label {
    display: block;
    margin-bottom: 5px;
}

.input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.stars {
    display: flex;
    gap: 5px;
}

/* .stars .fa-star {
color: #ddd;
cursor: pointer;
font-size: 20px;
} */

/* .stars .fa-star.selected {
color: #f5c518;
} */

.buttons-set {
    margin-top: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.commentwidth {
    width: 200px !important;
    /* max-width: 100% !important; */
    /* overflow-x: auto */
}
.comments-list {
    max-height: 480px;
    overflow: auto;
}
#iconsize {
    font-size: 16px;
}
#iconReview {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
.photoAndName {
    display: flex;
    align-items: center;
}
.profilePhoto {
    border-radius: 50%;
    margin-bottom: 5px;
}
.user_name {
    margin-left: 10px;
}
.commentTitle {
    font-size: 23px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.numberofstock {
    font-size: 15px;
}
.instock {
    color: green;
    font-size: 15px;
}
.outofstock {
    color: red;
    font-size: 15px;
}
.user_name {
    font-size: 14px;
    font-weight: bold;
}
.comments-list .media {
    border-bottom: 1px dotted #ccc;
}
.stars i {
    font-size: 20px;
    color: #ccc; /* Default star color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.stars i.selected,
.stars i:hover,
.stars i:hover ~ i {
    color: #f39c12; /* Color for selected or hovered stars */
}

.stars i:hover ~ i {
    color: #ccc; /* Revert color of stars to the right */
}
.showreview {
    color: #f39c12; /* Color for selected or hovered stars */
}
/* Cart styles */

.inputQua {
    width: 40px;
    height: 30px;
    text-align: center;
}

.btnQua {
    background-color: transparent;
    border: 0;
    align-items: center;
    height: 30px;
}
